:root {
    --neutral-100: #F7F6F4;
    --neutral-200: #EBEAE6;
    --neutral-300: #C3C5C7;
    --neutral-400: #696D72;
    --neutral-450: #373A3E;
    --neutral-500: #212529;

    --blue: #044ADA;
    --red: #DA1E27;
    --green: #028324;
    --pink: #DB0075;
    --orange: #E86A10;
    --purple: #570dd8;
    --yellow: #f3b406;
    --cyan: #23ccff;

    --base: var(--neutral-100);

    --link: var(--blue);
    --name: var(--pink);
    --bclc: var(--orange);
    
    --linkedin: var(--cyan);
    --email: var(--yellow);

    --encore: var(--neutral-500);
    --a11y: var(--neutral-500);

    /* --green: #038301; */
    /* --light-green: #ECF8EC; */
    /* --light-orange: #edd7ca; */
    /* --bl-top: #170202; */
    /* --encore: #170202; */
    /* --hot-stuff: #170202; */
    --spin-deg: 0deg;
}
/* highlight */
::-moz-selection {
    color: var(--neutral-100);
    background: var(--pink);
}
::selection {
    color: var(--neutral-100);
    background: var(--pink);
} 
/* star */
.star-shape {
    fill: var(--name);
    /* transform: translateY(-1rem); */
    /* center of element */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: 5s linear infinite star-rotate;
}
.star {
    fill: none;
    transform: translateY(-0.5rem);
    padding: 0.2rem 0.1rem;
}
.sub-text {
    color: var(--neutral-400);
}

/* changing colours */
.name {
    --link: var(--name);
    color: var(--name);
    fill: var(--name);
    text-decoration: none;
}
.name:hover, .name:focus, .name:active {
    /* --name: var(--neutral-500); */
    --spin-deg: 360deg;
    border-bottom: 0.125rem  dotted transparent;
}
@keyframes star-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(var(--spin-deg));
    }
}

/* changing colours */
.encore {
    color: var(--encore);
}
.proj-card-link:hover .encore {
    --encore: var(--purple);
}
.a11y {
    color: var(--a11y);
}
.proj-card-link:hover .a11y {
    --a11y: var(--blue);
}


.bclc {
    --link: var(--bclc);
    color: var(--bclc);
    fill: var(--bclc);
}
.bclc:hover, .bclc:focus, .bclc:active {
    /* --bclc: var(--neutral-400); */
    /* text-decoration: none;
    transition: .3s ease; */
    border-bottom: 0.125rem dotted transparent;
}


.email {
    --link: var(--email);
    color: var(--email);
    fill: var(--email);
}

.email:hover, .email:focus, .email:active {
    /* --email: var(--neutral-400); */
    border-bottom: 0.125rem  dotted transparent;
}

.purple-link {
    --link: var(--purple);
    color: var(--purple);
    fill: var(--purple);
}

.purple-link:hover, .purple-link:focus, .purple-link:active {
    /* --email: var(--neutral-400); */
    border-bottom: 0.125rem  dotted transparent;
}

.linkedin {
    --link: var(--linkedin);
    color: var(--linkedin);
    fill: var(--linkedin);
}
.linkedin:hover, .linkedin:focus, .linkedin:active {
    /* --linkedin: var(--neutral-400); */
    border-bottom: 0.125rem  dotted transparent;
}

.blue-link {
    --link: var(--blue);
    color: var(--blue);
    fill: var(--blue);
    /* text-decoration: none;
    border-bottom: 0.125rem dotted var(--blue);
    transition: border-color .3s ease; */
}

.blue-link:hover, .blue-link:focus, .blue-link:active{
    border-bottom: 0.125rem  dotted transparent;
}

/* .purple-link {
    color: var(--purple);
    text-decoration: none;
    border-bottom: 0.125rem dotted var(--purple);
    transition: border-color .3s ease;
}

.purple-link:hover, .purple-link:focus, .purple-link:active{
    border-bottom: 0.125rem  dotted transparent;
} */

.ext-link {
    /* text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 0.2em;
    padding: 0.75rem 0.2rem; */
    /* border-bottom: 2px dotted var(--bclc); */

    text-decoration: none;
    border-bottom: 0.125rem dotted var(--link);
    transition: border-color .3s ease;

}

body {
    background-color: var(--base);
}

