/* ==================== IBM Plex Sans ==================== */
/* regluar */
@font-face {
    font-family: 'IBMPlexSans';
    font-weight: 400; 
    font-style: normal;
    src: url('../font/IBMPlexSans-Regular.woff') format('woff');
}
/* italics */
@font-face {
    font-family: 'IBMPlexSans';
    font-weight: 400; 
    font-style: italic;
    src: url('../font/IBMPlexSans-Italic.woff') format('woff');
}
/* medium */
@font-face {
    font-family: 'IBMPlexSans';
    font-weight: 500;
    font-style: normal;
    src: url('../font/IBMPlexSans-Medium.woff') format('woff');
}
/* ==================== INCONSOLATA ==================== */
/* regluar */
@font-face {
    font-family: 'Inconsolata';
    font-weight: 400; 
    font-style: normal;
    src: url('../font/Inconsolata-Regular.woff') format('woff');
}
/* medium */
@font-face {
    font-family: 'Inconsolata';
    font-weight: 500; 
    font-style: normal;
    src: url('../font/Inconsolata-Medium.woff') format('woff');
}

.w-medium {
    font-weight: 500;
}